<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngFor="let key of dataKeys;let i = index">
          <label class="col-form-label">{{key}}</label>
          <input name="{{key}}" class="form-control" [(ngModel)]="data[key]">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveChanges()">Save changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeEdit()">Close</button>
      </div>
    </div>
  </div>
</div>
<form class="m-lg-5">
  <div class="form-group purple-border basic-textarea rounded-corners">
    <label class="text-info">Text Json Data</label>
    <textarea class="form-control" rows="5" #textArea name="textArea" [(ngModel)]="textareaValue"></textarea>
  </div>
  <button class="btn btn-primary mr-4" (click)="loadData(textareaValue)">Generate Table</button>
  <button class="btn btn-primary mr-4" (click)="stringifyJSON(textArea)">Generate JSON</button>
  <button class="btn btn-primary mr-4" (click)="loadDataFromFile(dataFromFile, textArea)">Generate Table From File</button>
</form>
<label *ngIf="parsingError" class="text-danger ml-lg-5">JSON data invalid (Example: "[&#123;"key1":"k1v1","key2":"k2v1","key3":"k3v1"&#125;]")</label>
<div *ngIf="parsingComplete" class="m-lg-5">
  <form class="form-inline" novalidate (submit)="addData(newData)">
    <div class="form-group input-group mx-sm-3 mb-2" *ngFor="let key of dataKeys">
      <div class="input-group-prepend">
        <label class="input-group-text">{{key}}</label>
      </div>
      <input class="form-control" #{{key}} name="{{key}}" required [(ngModel)]="newData[key]">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form>
  <table class="table table-sm table-bordered table-striped table-consended">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let key of getKeys(dataArray)">{{key}}</th>
        <th>settings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getData(); let i = index">
        <td class="d-table-cell align-middle" *ngFor="let key of getKeys(dataArray)">{{item[key]}}</td>
        <td>
          <button class="btn btn-info m-sm-1" type="button" data-toggle="modal" data-target="#myModal" (click)="editData(i)">Edit</button>
          <button class="btn btn-danger m-sm-1" (click)="deleteData(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
